.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 25px;
    margin-left: -30px;
    margin-right: -30px;
}

.card-body .videoWrapper {
    margin-left: -20px;
    margin-right: -20px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.markdown pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #ebf8ff;
    margin-left: -30px;
    margin-right: -30px;
}
.progress {
    height: 0.8rem !important;
}
.markdown-big pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #ebf8ff;
    margin-left: 0;
    margin-right: 0;
}

.text-dark.active {
    text-decoration: underline;
}

.perform pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #fafafa;
    margin-left: -30px;
    margin-right: -30px;
}

.markdown p {
    max-width: 840px;
}

.markdown-big p {
    max-width: 1300px;
}

li {
    max-width: 840px;
}

.card-body pre {
    margin-left: -20px;
    margin-right: -20px;
}

.markdown {
    font-size: 105%;
    line-height: 1.5;
}

.perform {
    font-size: 120%;
}

.markdown h3 {
    font-size: 1.45rem;
    margin: 25px 0;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
}

.markdown h2 {
    font-size: 1.55rem;
    margin: 25px 0;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
}

.markdown h4 {
    font-size: 1.5rem;
    margin: 25px 0;
}

.markdown img {
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.imagesafe img {
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.assessment-block .table-wrapper {
    overflow-x: scroll;
}

.assessment-block table {
    overflow-x: scroll;
}

.assessment-block td {
    min-width: 150px;
}

/*
.assessment-block .table-wrapper {
    overflow-x:scroll;
    overflow-y:visible;
    width: calc(100% - 130px);
    margin-left: 130px;
}


.assessment-block  td,.assessment-block  th {
    padding: 5px 20px;
    width: 130px;
}

.assessment-block  th:first-child {
    position: fixed;
    left: 5px
}*/
.assessment-block .badge {
    font-size: 16px;
}

.back-link {
    display: inline;
    margin-right: 10px;
}

.error-block {
    color: red;
}

a[disabled] {
    pointer-events: none;
}

.card-deck > .card {
    margin-bottom: 15px;
}

.card-group > .card {
    margin-top: 15px;
}

p, strong {
    color: #333741;
}

.card {
    margin-bottom: 15px;
}

.list-group {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.markdown img {
    text-align: center;
}


/*
blockquote{
    display:block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;


    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;


    border-left: 15px solid #c76c0c;
    border-right: 2px solid #c76c0c;


    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
    content: "\201C";


    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;


    position: absolute;
    left: 10px;
    top:5px;
}

blockquote::after{
    content: "";
}

blockquote a{
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

blockquote a:hover{
    color: #666;
}

blockquote em{
    font-style: italic;
}*/
img[alt=px50] {
    min-width: 50px;
}

img[alt=px150] {
    min-width: 150px;
}

sup {
    font-size: 130%;
    top: 0;
}

sup > i {
    font-size: 75%;
}

#stepsSidebar {
    padding: 0;
    padding-top: 10px;
    min-height: 100%;
    /* background-color: #0A6187;*/
    /*background-color: #1098D4;*/
    background-color: #fafafa;
}

/*
.nav-pills .nav-link.active {
    background-color: #D9E8F5;
    color: #304269;
}
*/
#stepsSidebar .nav-link.active {
    border-radius: 0;
    background-color: #D9E8F5;
    color: #304269;

}

#stepsSidebar a {
    /*color: white;*/
    color: #555;
}

#stepsSidebar a.btn {
    /*color: white;*/
    color: white;
}

.bg-dark {
    /*background-color: rgb(30, 155, 0) !important;*/
    background-color: #2D9CCC !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='351' height='292.5' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");

}

.card.bg-dark {
    background-color: white !important;
}

.card.bg-dark a {
    color: #0A6187 !important;
}


body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    /*background-color: #fbfbfb;*/
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background-color: white;
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout + .bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

.card-footer {
    padding: 5px;
    padding-left: 20px;
}

.progress {
    border-radius: 0;
}

h4 {
    font-weight: 300;
}

.black-link {
    color: #212529;
}

.black-link:visited {
    color: #212529;
}

.black-link:active {
    color: #212529;
}

.black-link:hover {
    color: #212529;
}

.ace_editor {
    height: 350px;
    width: 100%;
}

.editor {
    margin-left: -15px;
    margin-right: -15px;
}

/* Events */
.required label:after {
    content: " *";
    color: red;
}

.modebar {
    display: none !important;
}

/*
.nav-pills .nav-link.active {
    background-color: white;
}*/

.card-img {
    height: 12rem;
    /* filter: blur(3px) grayscale(.25); */
}

.list-group-item {
    border: 0;
}

/*
.card-footer {
    background-color: white;
    margin-top: -15px;
    border-top: 1px dotted #fafafa;
}*/

#vk_groups,
#vk_groups iframe {
    width: 100% !important;
}

.img-circle {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.img-circle {
    width: 70px;
    height: 70px;
}

h5.card-title {
    margin-top: 0;
}

.tab-pane:not(.active) {
    display: none;
}

.page-item.current .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.error-block strong {
    color: red;
}

.nav-link.active-link {
    font-weight: bold !important;
}

.list-group:first-child {
    border-radius: 0.5rem 0;
}

.menu-avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-color: white !important;
}
.dropdown-item {
    color: #212529;
}

@media screen and (max-width: 991px) { /* Bootstrap's mobile view breakpoint */
    .navbar-dark {
        position: relative !important;
    }
}


li {
    color: #212529;
}